
/*Global*/

html, body{
	width: 100%;
	height: 100%;
}

body{

}

.text-vertical-center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-vertical-center h1{
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
}

/*Custom Buttons*/

.btn-dark{
	border-radius: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.4);

}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid #24b8dd;
}

.btn-light {
	border-radius: 0;
	color: #333;
	background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
	color: #333;
	background-color: rgba(255,255,255,0.8);
}

/*Custom Horizontal*/

hr.small {
	max-width: 100px;
}

/*Side Nav Bar*/

#sidebar-wrapper{
	z-index: 1000;
	position: fixed;
	right: 0;
	width: 220px;
	height: 100%;
	margin-right: -220px;
	overflow-y: auto;
	background: #222;
	opacity: 0.9;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;

}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 15px;
	font-family: Arial;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 25px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
	/*z-index: 1;
	position: fixed;
	top: 0;
	right: 0;*/
	margin-left: 2%;
}

#sidebar-wrapper.active{
	right: 220px;
	width: 220px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.toggle{
	margin: 5px 5px 0 0;
}

/*Header*/

#nav{
/*text-align: center;*/
margin-top: 10px;
/*margin-left: 100px;*/
position: fixed;
display: inline;
margin-left: 20%;
padding: 30px;

}

.nav-list{
	display: inline;
	margin-left: 20px;
	padding-right: 50px;
	padding-left: 50px;
	border: 2px solid black;
}


.intro{
margin-left: 30%;
margin-top: 15%;

}

#header-blurb{
margin-left: %;

}



.header{
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/sunset.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#header-blurb{
	color: white;
	font-size: 40px;
}

#name{
	/*color: #60d3e8;*/
	/*color: #24b8dd;*/
	
	color: white;
	font-size: 100px;
	font-family: Arial-Black;
	opacity: 0.6;

		
}




h3{
	color: white;
}

/*About*/

.about{
	padding: 50px 0;
}
#about_me{
	font-size: 80px;
	font-family: Arial-Black;
}
.profile-photo{
	display: block;
	max-width: 350px;
	margin: 0 auto 30px;
	/*border-radius: 100%;*/
	border: 3px solid black;
}

.lead{
	text-align:left;
	/*margin: 50 auto;*/
	margin: 0 auto;
	width: 65%;
}

/*Portfolio*/

#portfolio {
	/*background: url(../img/portfolio-background.gif) no-repeat center center scroll;*/
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-top: 20px;
	margin-bottom: 20px;


}



#my-work{
 	color: white;
 	font-size: 80px;
 	font-family: Arial-Black;
 	margin-top: 80px;
 }



.portfolio-item{
		margin-bottom: 30px;
		float: left;
		width: 80%;
		height: 110%;
		position: relative;
		border: 5px solid white;
		margin-left: 10%;
}
/*
.img-portfolio{
		margin: 0 auto;
}*/


.desc{
 	/*color: white;*/
 	position: absolute;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	/*background: rgba(29, 106, 154, 0.72);*/
 	background: black;
 	color: #fff;
 	visibility: hidden;
 	opacity: 0;
 	font-size: 20px;
 	font-family: Arial-Black;
 	-webkit-transition: visibility opacity 0.2s;
 	height: 223px;
 	padding-bottom: 18px;
 	padding-top: 20px;
 	padding-left: 10px;
 	padding-right: 10px;
}

.portfolio-item:hover .desc{
		opacity: 0.8;
		visibility: visible;
		-webkit-transition: all 0.5s ease; 
		-moz-transition: all 0.5s ease; 
		-o-transition: all 0.5s ease; 
}


/*Contact*/

footer{
	padding: 10px 0;
	
}

.contact{

	/*border: 2px solid black;*/
	padding: 10px;
	margin-left: 20px;
	

}

li{
	margin: 0 auto;
	


}

.list-unstyled{
	margin: 0 auto;
	text-align: center;


}

li:hover{
	opacity: 0.8;
	color: #6699FF;
	display: inline;
	
}




#contact_me{
	font-size: 80px;
	font-family: Arial-Black;
}





